<div class="wrap">
  <div class="container">
   <div fxFlex="90%" fxLayout="column" fxLayoutGap="20px">
    <header fxFlex="100%" fxLayout="row" fxLayoutGap="20px" fxLayoutAlign="space-between center">
      <div>
        <div class="menu">
          <a class="active">Home</a>
          <a>About</a>
          <a>Projects</a>
          <a>Articles</a>
          <a>Contact me</a>
        </div>
      </div>
    <!--   <div class="logo">AC</div> -->
      <div class="menu" style="text-align: right;">
        <a class="border0"><img src="/src/assets/images/instagram.svg" alt="" width="50%" srcset=""></a>
        <a class="border0"><img src="/src/assets/images/facebook.svg" alt="" width="50%" srcset=""></a>
        <a class="border0"><img src="/src/assets/images/linkedin.svg" alt="" width="50%" srcset=""></a>
        <a class="border0"><img src="/src/assets/images/github.svg" alt="" width="50%" srcset=""></a>
        <a class="border0"><img src="/src/assets/images/game.gif" alt="" width="50%" srcset=""></a>
      </div>
    </header>
   </div>
  </div>
</div>
