<div #spaceRef id="space">
  <div class="img-rank">
    <ng-container *ngFor="let img of ranks; let i = index; trackBy: trackBySrc">
      <div class="skill-badge" [ngStyle]="{
          position: 'absolute',
          top: img.top + '%',
          left: img.left + '%',
          transform: 'translate(-50%,-50%)'
        }">
        <img
          #rankImg
          class="img-rank-item"
          [src]="img.src"
          [alt]="img.rank + ' Rank'"
          [class.animate]="animatedRanks[i]"
        >
        <span class="skill-label">{{ img.rank }}</span>
      </div>
    </ng-container>
  </div>
  <div #rocket id="rocket" [ngStyle]="{
      position: 'absolute',
      top: rocketPos.top + '%',
      left: rocketPos.left + '%',
      transform: 'translate(-50%, -50%)'
    }">
    <div class="wing top-wing"></div>
    <div class="wing bottom-wing"></div>
    <div class="flame"></div>
    <div #trail id="trail"></div>
    <span class="rocket-emoji">🚀</span>
  </div>
</div>
