.wrap {
  //color negro primario
  --pcolor: #141004c4;
  --scolor: #ffc107; /* Color secundario */
  font-size: 16px;
  color: var(--pcolor);

  .container {
    max-width: 100%;
    margin: 0;
    justify-content: center;
  }

  .flex {
    display: flex;
  }
  a,button {
    cursor: pointer;
  }

  button {
    padding: 12px 20px;
    border: 1px solid transparent;
    outline: none;
    border-radius: 8px;
    @extend .flex;
    gap: 12px;
    width: 24%;
    font-size: 16px;
    font-weight: 600;

    &.primary {
      background-color: var(--pcolor);
      color: #fff;
    }
  }

  button:hover {
    background-color: var(--scolor) !important;
    color: #fff !important;
    text-decoration: none !important;
  }

  header {
    padding: 20px 20px;
    font-weight: 500;
    width: 100% !important; /* o un valor específico */
    overflow: hidden !important;


    .menu {
      @extend .flex;
      gap: 30px;

      a {
        cursor: pointer;
        border-bottom: 1px solid transparent;
        border-bottom: 4px;
        transition: all .3s;
        &.active {
          border-bottom: 1px solid var(--pcolor);
          text-decoration: none !important;
          font-weight: bolder !important;
          color: var(--pcolor);
        }
        &.border0 {
          border: 0;
        }
        &.theme {
          background-color: var(--pcolor);
        }
        &:hover {
          color: var(--pcolor);
          text-decoration: none !important;
          font-weight: bolder !important;


        }
      }
      a > img:hover {
        transform: scale(1.1);
        transition: transform 0.3s ease-in-out;
      }
    }

    .logo {
      background-color: var(--pcolor);
      padding: 12px;
      border-radius: 40px;
      font-weight: 800;
      color: #fff;
      transition: all .5s;
      cursor: pointer;
      background: linear-gradient(95deg, var(--pcolor), var(--pcolor));
      background: all 0.5s ease;
      margin-right: 0 !important;

      &:hover {
        background: linear-gradient(173deg,rgba(221, 0, 49, 0.49) 0%, rgba(171, 38, 46, 1) 51%, rgba(151, 50, 42, 1) 100%);
        background-position: 100% 0;
      }
    }
  }

    .content {
      padding: 25px;
      h1 {
        margin: 0 0 30px;
        font-size: 70px;
        line-height:  65px;
      }

      p{
        font-size: 18px;
        font-weight: 500;
        line-height: 24px;
        margin: 0 0 30px;
      }

      .btn-wrap{
        @extend .flex;
        gap: 20px;
        align-items: center;

        a {
          font-size: 16px;
          font-weight: 600;
          text-decoration: underline;
        }
      }
    }
}

.btn-wrap {

  button:hover {
    background-color: var(--scolor) !important;
    color: #fff !important;
    text-decoration: none !important;
    transition: all .5s;
  }
}

.secondary{
  color: #fff;
  font-weight: 600;
  text-decoration: none !important;
  cursor: pointer;
  &:hover {
    color: var(--scolor);
    text-decoration: none;
    transition: all .5s;
  }
}
