<div class="eye-container">
  <div class="eye-group">
    <div class="eye">
      <div class="vein vein1"></div>
      <div class="vein vein2"></div>
      <div class="vein vein3"></div>
      <div class="vein vein4"></div>
      <div class="vein vein5"></div>
      <div class="pupil">
        <div class="reflection"></div>
        <div class="tear"></div>
        <div class="heart"></div>
      </div>
      <div class="eyelid"></div>
    </div>
  </div>
  <div class="eye-group">
    <div class="eye">
      <div class="vein vein1"></div>
      <div class="vein vein2"></div>
      <div class="vein vein3"></div>
      <div class="vein vein4"></div>
      <div class="vein vein5"></div>
      <div class="pupil">
        <div class="reflection"></div>
        <div class="tear"></div>
        <div class="heart"></div>
      </div>
      <div class="eyelid"></div>
    </div>
  </div>
</div>
