<div class="content card- mt-5">
  <div class="wrap">
    <div class="container">
      <!-- IMAGEN GRANDE OVERLAY SOLO MOBILE -->
      <div class="col-sm-12 col-12 d-flex align-items-center justify-content-center">
        <div @fadeInContainer class="image-overlay-big d-flex align-items-center justify-content-center"
          *ngIf="!isImageFlipped && isMobile">
          <div class="flip3d-container">
            <img class="image-overlay-big-img" [class.flipping]="isFlipping" src="/assets/images/profile12.png"
              alt="Foto de Arlez Camilo Ceron Herrera" />
            <div class="waiting-message mt-3 text-center">
              <span>Please wait...</span>
            </div>
          </div>
        </div>
      </div>
      <!-- CARD PRINCIPAL -->
      <div class="row justify-content-center hero-row-animate">
        <div class="col-12 col-sm-12 col-md-10">
          <div class="card-content row gx-4" [ngClass]="{'card-flip-bg': isImageFlipped && isMobile, 'hide-on-mobile': !isImageFlipped && isMobile,
              'animate-bg': cardBgShouldAnimate
            }">
            <div
              class="profile-image avatar-animated-border col-12 col-md-6 d-flex align-items-center justify-content-center">
              <img src="/assets/images/profile12.png" class="w-100" loading="lazy"
                alt="Foto de Arlez Camilo Ceron Herrera" />
            </div>
            <div class="col-12 col-md-6 d-flex flex-column align-items-center justify-content-center">
              <h1 class="text-white">
                <div id="txt" class="fullstack-animated">
                  <ng-container *ngFor="let char of activeTitle.split(''); let i = index">
                    <b [style.--i]="i+1">{{char}}</b>
                  </ng-container>
                </div>
              </h1>
              <p class="text-white">
                I am a passionate and responsible Full Stack Developer, highly skilled in technologies that are in
                strong demand in today’s market. I approach my work with enthusiasm and commitment, consistently
                delivering high-quality results and taking full ownership of my projects.
              </p>
              <div class="col-md-12 btn-wrap">
                <button [routerLink]="'/about-it'" class="primary btn-principal">
                  Resume <ng-icon name="lucideExternalLink" size="18" strokeWidth="2"></ng-icon>
                </button>
                <a [routerLink]="'/contact-me'" class="secondary">Contact</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-12">
    <app-rocket-scroll id="skills" style="display:block; height: 100%;"></app-rocket-scroll>
  </div>
</div>
<div class="row" style="height: 100vh;">
  <div class="col-md-12">
    <app-project-card id="projects"></app-project-card>
  </div>
</div>
