<div class="wrap" style="margin-top: 30px;">
  <canvas></canvas>
  <div class="container">
    <div fxFlex="90%" fxLayout="column" fxLayoutGap="20px">
      <div class="content" fxFlex="100%" fxLayout="row" fxLayoutGap="30px"
        style="border-radius: 20px; background-color: rgba(253, 232, 209, 0.48);"
        style="background-image: url('src/assets/images/5525305.jpg'); width: 100%; height: 100vh; border-radius: 20px;">
        <div fxFlex="50%" class="profile-image">
          <img src="src/assets/images/profile12.png" alt="" srcset="" width="100%" height="100%">
        </div>
        <div fxFlex="50%" fxLayout="column" fxLayoutAlign="center">
          <h1 style="color: white;">Full Stack Developer</h1>
          <p style="color: white;">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Asperiores ea quas sunt
            dolor voluptatibus,
            voluptas ipsum accusantium nam reprehenderit distinctio maiores aspernatur illum magnam quae, recusandae
            culpa nemo excepturi dicta.</p>

          <div class="btn-wrap">
            <button class="primary btn-principal">
              Resume <ng-icon name="lucideExternalLink" size="18" strokeWidth="2"></ng-icon>
            </button>
            <a class="secondary">Contact</a>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
<app-reflector-bulb></app-reflector-bulb>
