  <div class="wrap" style="margin-top: 30px;">
    <div class="container">
      <div fxFlex="90%" fxLayout="column" fxLayoutGap="20px">
        <div class="content" fxFlex="100%" fxLayout="row" fxLayoutGap="30px"
          style="border-radius: 10px; background-color: rgba(253, 232, 209, 0.48);">
          <div fxFlex="50%" fxLayout="column" fxLayoutAlign="center">
            <h1>Full Stack Developer</h1>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Asperiores ea quas sunt dolor voluptatibus,
              voluptas ipsum accusantium nam reprehenderit distinctio maiores aspernatur illum magnam quae, recusandae
              culpa nemo excepturi dicta.</p>

            <div class="btn-wrap">
              <button class="primary">
                Resume <ng-icon name="lucideExternalLink" size="18" strokeWidth="2"></ng-icon>
              </button>
              <a>Contact</a>
            </div>

          </div>
          <div fxFlex="50%">
            <img src="src/assets/images/profile7.png" alt="" srcset="" width="100%">
          </div>
        </div>
      </div>
    </div>
  </div>
  <app-reflector-bulb></app-reflector-bulb>
  <app-wheel-timeline></app-wheel-timeline>
